@import "../styles/mixins.scss";

.card {
  @include card();
  width: 28%;

  h2 {
    color: #196844;
    font-weight: 700;
  }

  p {
    color: black;
  }

  .wsdl {
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: rgb(223, 223, 223);
  }

  .services-button {
    width: 150px;
    background-color: #196844;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px auto;

    &:hover {
      cursor: pointer;
    }
  }
}
