.form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-bottom: 30px;

  .input-container {
    display: flex;
    margin-bottom: 10px;

    label {
      margin-right: 15px;
      min-width: 150px;
    }
  }

  .button-container {
    display: inline-block;
    button {
      margin-top: 10px;
      width: 100px;
      background-color: #196844;
      border-radius: 10px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
